@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    background-color: #f3f5f9;
}

/**Home Page**/

header{
    background: #c9c4c4;
    box-shadow: black;
}
.home_navbar{
    display:flex;
    align-items: center;
    padding: 20px;
}

.home_navbar nav{
    flex: 1;
    text-align: right;
}
.home_navbar nav a{
    display: inline-block;
    padding-right: 20px;
    color: black;
}
.section1{
    background: white;

}
.section1 .content{
padding-top: 10%;
    padding-left: 30px;
}
.section1 .content h3 span{
    color: #856404;
}
.section1 img{
    width: 100%;
    padding-left: 10rem;
}
.category {
    display: flex;
    background : #110c0c;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    margin-bottom: 20px;
}
hr{
    margin-bottom: 2px;
    margin-top: 2px;
    background: black;
}
.category .content{
    flex: 1;
    text-align: right;
}
.category a{
    color: white;
    display: inline-block;
    padding-right: 20px;

}





.wrapper{
    display: flex;
    position: relative;
}



.wrapper .sidebar{
    width: 200px;
    height: 100%;
    background: #506e69;
    padding: 10px 0px;
    position: fixed;
}

.wrapper .sidebar h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 6px;

}

.wrapper .sidebar ul li{
    padding: 10px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
}

.wrapper .sidebar ul li a{
    color: #bdb8d7;
    display: block;
    font-size: 12px;
}

.wrapper .sidebar ul li a .fas{
    width: 25px;
}

.wrapper .sidebar ul li:hover{
    background-color: #594f8d;
}

.wrapper .sidebar ul li:hover a{
    color: #fff;
}

.wrapper .sidebar .social_media{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.wrapper .main_content{
    width: 100%;
    margin-left: 200px;
}

.wrapper .main_content .header{
    padding: 20px;
    background: #fff;
    color: #269404;
    border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info{
    margin: 20px;
    color: #717171;
    line-height: 25px;
}

.wrapper .main_content .info div{
    margin-bottom: 20px;
}
.info .section2{
    padding-top: 10px;
    background: #c5baba;
}

.info i{
    font-size: 6rem;
    color: rgba(79, 40, 40, 0.5);
margin: 0 1rem;
}
.info .tt{
    margin-bottom: 1rem ;
}

.info .box2{
    background: rgba(79, 3, 5, 0.66);
    border-radius: 1.2rem;
}
.info .box1{
    background: rgba(59, 101, 95, 0.66);
    border-radius: 1.2rem;
}
.info .box3{
    background: var(--text-gold-50);
    border-radius: 1.2rem;
}
.info .box4{
    background: rgba(79, 3, 5, 0.66);
    border-radius: 1.2rem;
}

#menu-toggler{
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 10000;
    background: var(--text-gold-50);
    color: azure;
    border-radius:.5rem ;
    padding: 1rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    display: none;
}
.sidebar.active{
    left:0;
}
@media(max-width:991px) {
    html {
        font-size: 55%;
    }

    body {
        padding: 0;
    }

    #menu-toggler {
        display: initial;

    }

    sidebar {
        left: -120%;
    }
}
    @media(max-width:650px) {
        html {
            font-size: 50%;
        }

        header {
            width: 100%;
        }

        .experience .box-container .box {
            padding-right: 0;
        }
    }
.info table {
    font-size: 10px;
    font-weight: 500;
}
.info table td{
    height: 5px;

}