:root{
    --background-2: #d2cbcb;
    --text-white-1:#ffffff;
    --text-white-2: #c2b5b5;
    --text-white-3: #a8a7a7;
    --skin-color-red-1:#ec1839;
    --skin-color-red-2: #641521;
    --skin-color-red-3: #3f1821;
    --text-black-1:#161615;
    --text-black-2:#32322d;
    --text-color-gray-1:#5d5d2b;
    --text-gold-50:#d17300;
    --background-blue-1:#021626;

}