<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="~{CommonPageslayout/common :: Myheader}"></div>
</head>
<body>




<div class="wrapper">
    <div th:insert="~{CommonPageslayout/common :: admin-navbar}"></div>
    <div class="main_content container">
        <div class="header">Welcome!! Have a nice day.</div>
        <div class="info">
                        <div class="row text-center section1">
                            <div class="col-sm-3">
                                <div class=" card text-white box1" >

                                    <a href="/admin/role" class="btn">  <div class="tt">

                                        <h2><i class="fa fa-industry" aria-hidden="true"></i>250</h2>
                                        Padding payment
                                    </div>
                                    </a>

                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class=" text-white box2" >
                                    <a href="/admin/role" class="btn">  <div class="tt">

                                        <h2><i class="fa fa-industry" aria-hidden="true"></i>250</h2>
                                        Return product
                                    </div>
                                    </a>

                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class=" text-white box3" >
                                    <a href="/admin/role" class="btn">  <div class="tt">

                                        <h2><i class="fa fa-industry" aria-hidden="true"></i>250</h2>
                                        Product
                                    </div>
                                    </a>

                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class=" text-white box4" >
                                    <a href="/admin/role" class="btn">  <div class="tt">

                                        <h2><i class="fa fa-industry" aria-hidden="true"></i>250</h2>
                                        Product
                                    </div>
                                    </a>

                                </div>
                            </div>
                        </div>

<hr>

            <div class="row section2">
                <div class="col-sm-6 bg">
                    <h4>New Stock</h4>
                    <table class="table-hover table-striped text-center">
                        <thead class="table-danger">
                        <tr>
                            <th >First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>

                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>

                        </tbody>
                    </table>
                </div>


                <div class="col-sm-6 bg ">
                    <div class="row">
                        <div class="col-sm-6 bg">
                        </div>
                        <div class="col-sm-6 ">
                    <h4 class="text-warning">Category</h4>
                    <table class=" table-hover text-center">
                        <thead>
                        <tr>
                            <th scope="col">Category</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each= "category : ${categories}">
                            <td th:text="${category.getName()}"></td>
                        </tr>
                        </tbody>
                    </table>
                        </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
</section>
<!--
<section>
    <div class="row">
        <div class="col-sm-3">
            <div class="card border-primary mb-3" >
                <div class="card-header">Role</div>
                <div class="card-body text-primary">
                    <p class="card-title">Add a role</p>
                    <p class="card-title">Delete role</p>
                    <p class="card-title">Update role</p>
                    <a href="/admin/role" class="btn btn-primary">Role</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card border-primary mb-3" >
                <div class="card-header  bg-info">
                    <p class="text-center"><i class="fa fa-users" aria-hidden="true"></i></p>
                </div>
                <div class="card-body text-primary">

                    <a href="/admin/category" class="btn btn-primary">Category</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card border-primary mb-3" >
                <div class="card-header">Product</div>
                <div class="card-body text-primary">
                    <h5 class="card-title">Primary card title</h5>
                    <a href="/admin/product" class="btn btn-primary">Product</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card border-primary mb-3" >
                <div class="card-header">Manufacturer</div>
                <div class="card-body text-primary">
                    <h5 class="card-title">Primary card title</h5>
                    <a href="/admin/manufacturer" class="btn btn-primary">Manufacturer</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="card border-primary mb-3" >
                <div class="card-header">Orders</div>
                <div class="card-body text-primary">
                    <h5 class="card-title">Primary card title</h5>
                    <a href="/admin/orders" class="btn btn-primary">Role</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card border-primary mb-3" >
                <div class="card-header">Special</div>
                <div class="card-body text-primary">
                    <h5 class="card-title">Primary card title</h5>
                    <a href="/admin/special" class="btn btn-primary">Role</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card border-primary mb-3" >
                <div class="card-header">Discount</div>
                <div class="card-body text-primary">
                    <h5 class="card-title">Primary card title</h5>
                    <a href="/adin/discount" class="btn btn-primary">Role</a>
                </div>
            </div>
        </div>
    </div>

    </div>

</section> -->
    <div th:insert="~{CommonPageslayout/common :: foot}"></div>
</body>
</html>