<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <div th:replace="~{CommonPageslayout/common :: Myheader}"></div>
</head>
<body>
<section>


</section>


<div class="wrapper">
  <div th:insert="~{CommonPageslayout/common :: admin-navbar}"></div>
  <div class="main_content container">
    <div class="header">Welcome!! Have a nice day.</div>
    <div class="info">

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <form th:action="@{/admin/role/add}" method="post" th:object="${role}">
            <input type="hidden" name="roleId" th:field="*{roleId}">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label >Role</label>
                <input type="text" class="form-control" name="name" id="name" th:field="*{name}" placeholder="name">
              </div>
              <div class="form-group col-md-6">
                <label >Description</label>
                <input type="text" class="form-control" name="description"id="Descr" th:field="*{description}" placeholder="Description">
              </div>

            </div>

            <button type="submit" class="btn btn-primary">Sign in</button>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>



</body>
</html>